@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&display=swap');
/*////////////////////////////////////////////////////////////*/
:root{
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --quote-background:#E5E7EB;
}
body{
    margin:0px;
    display:flex;
    flex-direction:column;
    font-family:Montserrat;
}
button{
    border:none;
    font-size: large;
    font-weight:700;
    cursor:pointer;
}
button:hover{
    opacity:.8;
}
/*////////////////////////////////////////////////////////////*/
.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    background-color:var(--dark-blue);
}
.header-logo{
    font-size:24px;
}
.s1, .s2, .s3{
    font-size:18px;
    font-weight:400;
    margin-left:15px;   
}
/*////////////////////////////////////////////////////////////*/
.top-center{
    display:flex;
    justify-content: center;
    padding-top:120px;
    padding-bottom:140px;
    background-color:var(--dark-blue)
}
.text-1{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:400px;
    color:white;
    padding:20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background:rgba(225, 225, 225, .3)

}
.top-header{
    font-size:48px;
    margin-top:-5px;
}
.top-paragrahp{
    font-size:20px;
    margin-top:-20px;
    margin-bottom:40px;
}
.top-button{
    padding: 10px 40px;
    color:white;
    background-color:var(--light-blue);
    border-radius:10px;

}
.img-1{
    width:300px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
/*////////////////////////////////////////////////////////////*/
.bottom-center{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:50px;
    padding-bottom:10px;
}
.text-2{
    font-size:30px;
    color:var(--dark-blue);
}
.box{
    display:flex;
}
.about-me, .my-skills, .my-porfolio, .contact-me{
    display:flex;
    flex-direction:column;
    align-items: center;
    color: var(--dark-blue);
    width:200px;
    margin-left: 20px;
    margin-right:20px;
}
.about-me-img,.my-skills-img, .my-porfolio-img, .contact-me-img{
    width:200px;
    height:200px;
    margin:10px;
    margin-left: 20px;
    margin-right:20px;
    border-radius:10px;
    background-color:rgba(225, 225, 225, .8);
    border: 4px solid var(--light-blue);
}
/*////////////////////////////////////////////////////////////*/
.footer{
    margin-top:70px;
    padding:100px 250px;
    background-color:var(--quote-background);
}
.quote{
    font-size:36px;
    font-style: italic;
}
.name{
    font-size:24px;
    font-weight:700;
    padding-left:500px;
}
/*////////////////////////////////////////////////////////////*/
.ad{
    display:flex;
    color:white;
    justify-content:space-around;
    padding:10px;
    background-color:var(--light-blue);
    margin:90px 250px;
    border-radius:15px;
}
.ad-paragraph{
    font-size:16px;
}
.ad-button{
    color:white;
    background-color:var(--light-blue);
    border:3px solid white;
    border-radius:15px;
    font-size:20px;
    margin:35px;
    padding:5px 40px;
}

.footer{
    color:white;
    background-color:var(--dark-blue);
    text-align:center;
    padding:40px;

}